/* trust breand section */
.trus-brend{
    margin: auto;
    margin: 5rem 0;
}

.trust-titel{
    font-weight: bolder;
}

.brend-div{
    margin: auto;
    margin-top: 3rem;
} 

.brend-img{
    margin-bottom: .5rem;
}

